@import "colors";
@import "fonts";
@import "breakpoints";
@import "styles/components/all";
@import "styles/pages/all";

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
body,
html {
  height: 100vh;
  width: 100vw;
  font-size: 12px;

  @include md {
    font-size: 16px;
  }

  @include ul {
    font-size: 20px;
  }
}

.base-input {
  padding: 0.5rem 1rem;
  border: 0.2rem solid black;
  color: $fg-secondary;
  width: 100%;
}

.base-input:focus {
  border-color: $accent;
}
