@import "colors";
@import "fonts";

* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 13px;
}

.base-input {
  padding: 0.5rem 1rem;
  border: 0.2rem solid black;
  color: $fg-secondary;
}
